@model DogGo.Models.Owner

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Owner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeighborhoodId" class="control-label"></label>
                <input asp-for="NeighborhoodId" class="form-control" />
                <span asp-validation-for="NeighborhoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            @if (TempData["UserMessage"] != null)
            {
                var message = TempData["UserMessage"];
            <div class="alert" role="alert" id="errorMsg" style="position: fixed; width: 500px; top: 20px; left: 0px; right: 0px; margin: auto; background: white; border: solid red 3px">

                <strong class="alert-danger">@message</strong>
            </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    window.onload = function () {
        setTimeout(function () {
            var msgElement = document.getElementById("errorMsg")
            msgElement.innerHTML = "";
            msgElement.style.visibility = "hidden";

        }, 5000);

    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
